* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url(./HOA-Online-Voting.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  padding: 16px;
  width: 350px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}
